.wrapper {
  width: 100%;
  max-width: 750px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-gray-300);
}

.title {
  display: block;
  font-size: 1.75rem;
  line-height: 1.3;
  text-decoration: none;
  transition: color 200ms;
  margin-bottom: 0.25rem;
}
.title:hover {
  color: var(--color-primary);
}
.wrapper time {
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--color-gray-700);
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.tag {
  padding: 4px 12px;
  border-radius: 4px;
  background: var(--color-decorative-300);
  color: var(--color-primary);
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 200ms;
}

.tag:hover {
  background: var(--color-primary);
  color: white;
}
