.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: var(--outer-content-width);
  margin: 0 auto;
}

.content {
  position: relative;
  width: 100%;
  max-width: var(--content-width);
  padding: var(--viewport-padding);
  padding-top: calc(48px + 8vw);
  padding-bottom: 64px;
}

.content h1 {
  margin-bottom: 0.5rem;
}
.content p {
  font-size: 1.125rem;
  color: var(--color-decorative-900);
  margin-bottom: 0px;
  font-weight: 400;
}
.content time {
  font-weight: 500;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.tag {
  padding: 6px 14px;
  border-radius: 4px;
  background: var(--color-decorative-300);
  color: var(--color-primary);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 200ms;
}

.tag:hover {
  background: var(--color-primary);
  color: white;
}

@media (min-width: 35rem) {
  .content p {
    font-size: 1.25rem;
  }
}
