.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  padding: 64px var(--viewport-padding);
  margin: 0 auto;
}

.mainHeading {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.viewAllContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.viewAllLink {
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--color-primary);
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all 200ms;
}

.viewAllLink:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-card);
}
