.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: var(--content-width);
  padding: 0 var(--viewport-padding);
  padding-bottom: 48px;
}

.links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 1000px;
  color: var(--color-text);
  transition: background 200ms;
  text-decoration: none;
}

.iconLink:hover {
  background: var(--color-decorative-300);
}

.iconLink svg {
  display: block;
}

.attribution {
  margin-top: 24px;
  font-size: 0.875rem;
  color: var(--color-decorative-900);
  max-width: 18rem;
}

.attribution a {
  color: var(--color-gray-900);
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover {
  text-decoration: revert;
  text-underline-offset: 0.125em;
  text-decoration-thickness: 1.5px;
}

@media (min-width: 35rem) {
  .wrapper {
    padding-bottom: 64px;
    text-align: revert;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 32px;
  }
}
